*{
    padding: 0;
    margin: 0;
}
/* scroll style*/
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
/* pace*/
.pace .pace-progress {
    background: #de2929;
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    height: 3px;
}

header {
    width: 100%;
    padding: 0 20px;
    z-index: 1;
    box-sizing: border-box;
}
.el-header {
    padding: 0 20px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
.el-menu, body, html {
    height: 100%;
}
.wrapper{
    height: 100%;
}
body{
    background-color: #eee;
}

.el-menu {
    border-right: none;
}
.el-menu li {
    text-align: left;
}
.header-operations {
    display: inline-block;
    float: right;
    height: 100%;
}
.header-operations li {
    /* color: #fff; */
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0 10px;
    line-height: 60px;
    cursor: pointer;
}
.el-menu--dark{background-color:#324157}.el-menu--dark .el-menu-item,.el-menu--dark .el-submenu__title{color:#bfcbd9}.el-menu--dark .el-menu-item:hover,.el-menu--dark .el-submenu__title:hover{background-color:#48576a}.el-menu--dark .el-submenu .el-menu{background-color:#1f2d3d}.el-menu--dark .el-submenu .el-menu .el-menu-item:hover{background-color:#48576a}
.el-menu-item.is-active {
    background-color: #1b2838;
    /* background-color: #ce352c; */
}
.el-menu-item.is-active:after {
    /* background-color: #1b2838; */
    background-color: #ce352c;
}
/* form */
.form-box{
    border:1px solid #ebebeb;
    border-radius: 3px;
    transition: .2s;
    padding:20px;
    /* border: 1px solid #ebeef5; */
    background-color: #fff;
    overflow: hidden;
    /* box-shadow: 0 2px 12px 0 rgba(0,0,0,.1); */
    color: #303133;
}
